@import '../common.scss';
@mixin btn-basic($bg, $bd, $color) {
    width: 100%;
    height: 42px;
    border-radius: 23px;
    margin-bottom: 10px;
    background-color: $bg;
    border-color: $bd;
    color: $color;
}

.container {
    background-color: $bg_cm;
    width: $width_dm;
    height: $height_dm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; // hidden
    .left_flow {
        width: 411px;
        background-color: $default_color;
        height: $width_dm;
    }
    .content {
        position: relative;
        top: 2%;
        left: -10%;
        width: 1362px;
        height: 785px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 8px;
        .img {
            height: 100%;
            border-radius: 8px;
        }
        .right_flow {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-left: 41px;
            flex-direction: column;
            .title_flow {
                .h4 {
                    color: #3a62d7;
                    display: block;
                    font-size: 32px;
                }
                .h3_title {
                    color: #3a62d7;
                    font-weight: 900;
                    display: block;
                    font-size: 40px;
                }
            }
            .form_wrap {
                width: 100%;
                margin-top: 32px;
                .form-item-count {
                    .ant-col-3 {
                        display: block;
                        flex: 0 0 14.5%;
                        max-width: 14.5%;
                    }
                    .ant-form-item-control {
                        margin-left: 6px;
                    }
                    .form-input-count {
                        border-top-left-radius: 23px;
                        border-bottom-left-radius: 23px;
                        height: 42px;
                    }
                }
                .form-item {
                    .form-input {
                        border-radius: 23px;
                        height: 42px;
                    }
                }
                .verification {
                    z-index: 2;
                    position: relative;
                    top: 0;
                    right: 0;
                    float: right;
                    color: #8c8787;
                    height: 42px;
                    width: 100px;
                    line-height: 42px;
                    text-align: center;
                    background-color: #ebe7e7;
                    border-top-right-radius: 21px;
                    border-bottom-right-radius: 21px;
                }
                .verification_active {
                    cursor: not-allowed;
                }
                .verification_nomal {
                    cursor: pointer;
                }
                .form-item-btn {
                    width: 100%;
                    display: flex;
                    align-self: center;
                    .form-btn {
                        height: 42px;
                        border-radius: 23px;
                        background-color: #3a62d7;
                        border-color: #3a62d7;
                    }
                    .form-btn-disabled {
                        height: 42px;
                        border-radius: 23px;
                        background-color: #ddd;
                        border-color: #ddd;
                    }
                }
                // card
                .card_wrap {
                    // display: flex;
                    // align-items: center;
                    // 禁用效果
                    .freezed_card {
                        width: 160px;
                        height: 58px;
                        margin-left: 6px;
                        margin-right: 6px;
                        cursor: not-allowed;
                        border-radius: 6px;
                        padding: 4px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba($color: #e9e1e1, $alpha: 0.5);
                    }
                    .freezed_title {
                        font-size: 18px;
                        color: rgba($color: #101010, $alpha: 0.5);
                    }
                    .freezed_description {
                        font-size: 14px;
                        color: rgba($color: #101010, $alpha: 0.5);
                    }
                    .card {
                        width: 140px;
                        height: 58px;
                        margin-left: 6px;
                        margin-right: 6px;
                        cursor: pointer;
                        border-radius: 6px;
                        padding: 4px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .title {
                        font-size: 18px;
                        color: #fff;
                    }
                    .title_nomal {
                        font-size: 18px;
                        color: #101010;
                    }
                    .description {
                        font-size: 14px;
                        color: #fff;
                    }
                    .description_nomal {
                        font-size: 14px;
                        color: #101010;
                    }
                    .card_nomal {
                        background-color: #e9e1e1;
                    }
                    .card_active {
                        background-color: #3a62d7;
                        border: #3a62d7;
                    }
                }
                // choose bth
                .btn-wrap {
                    width: 100%;
                    margin-top: 30px;
                    .btn {
                        @include btn-basic(#3a62d7, #3a62d7, #fff);
                    }
                    .btn-default {
                        @include btn-basic(#fff, #ccc, #000);
                    }
                    .btn-disabled {
                        @include btn-basic(#ddd, #ddd, '');
                    }
                }
            }
            .tip_text {
                color: $default_color;
                font-size: 14px;
                cursor: pointer;
                margin-left: 3px;
                width: 70px;
            }
        }
    }
    // 编辑 from label
    .ant-form-item-required {
        margin-top: 5px;
    }
}

// .ant-form-item-label > label {
//   height: 42px;
//   line-height: 42px;
// }